.wrapper {
  background: #FFFFFF;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  margin: 0;
  box-sizing: border-box;

  .formGroup {
    .formControl {
      height: 40px;
      padding-left: 12px;
      margin-right: 16px;
      font-size: 16px;
      background: #FAFAFA;
      box-sizing: border-box;
      border: 1px solid #EEEEEE;

      &.error {
        border-color: #FF0000;
      }

      &:first-child {
        width: 180px;
      }

      &:nth-child(2) {
        width: 260px;
      }

      &:last-child {
        width: 190px;
        margin-right: 0;
      }
    }
  }

  .btn {
    border: none;
    border-radius: 0;
    height: 39px;
    font-size: 16px;
    font-weight: 500;
    background-color: #EDEDED;
    padding: 0 20px;

    &:hover {
      cursor: pointer;
    }


    &.add {
      background-color: #EDEDED;
      color: #666;
      width: 110px;
    }

    &.disabled {
      &:hover {
        cursor: not-allowed;
      }
    }

    &.cancel {
      background-color: #EDEDED;
      color: #07f;
    }

    &.save {
      background-color: #07F;
      color: #FFF;
      margin-left: 10px;
    }
  }

  .formGroup {
    .formControl {
      border-radius: 0;
      height: 40px;
    }
  }
}
