.wrapper {
  display: flex;
  padding: 32px;
  background-color: #ADB5BC;
  margin: 0 auto;
 
  .title {
    display: flex;
    width: 912px;
    height: 32px;
    margin: 0 auto;

    .logo {
      width: 32px;
    }

    h1 {
      margin: 0;
      padding: 0;
      line-height: 32px;
      font-size: 20px;
      font-weight: bold;
      color: #FFFFFF;
      padding-left: 12px;
    }
  }
}
